
header {
    padding-bottom: 7px;

}

h1 {
    margin: 0;
    font-size: 27px;
    font-weight: 500;
    color: #fff;
}

.contact_container {
    padding: 0;
    position: relative;
    display: block;
}

.contact {
    margin-top: 1px;
    font-size: 13px;
    width: fit-content;
    cursor: pointer;
    color: #fff;
}

.tooltipText {
    display: none;
    position: absolute;
    top:13px;
    left: 5px;
    padding: 5px 10px;
    width: fit-content;
    color: #fff;
    font-size: 11px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

.contact:hover .email{
    color: rgb(142, 220, 196);
}

.contact:hover + .tooltipText {
    display: block;
}

.p1 {
    margin-right: 17px;
    font-size: 17px;
    font-weight: 500;
    color: #d1ffde;
    display: inline;
    cursor: pointer;
}

.p1:hover {
    color: #fff;
}

@media screen and (min-width: 374px){
    .contact {
        margin-top: 7px;
        margin-bottom: 3px;
        font-size: 14px;
    }
    .tooltipText {
        top: 17px;
        font-size: 13px;
    }  
}
